## Deliverable 2. Create a Customer Travel Destinations Map.

In [44]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
from config import g_key

# Import API key
# from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [45]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,66.22,80,31,11.12,scattered clouds
1,1,Katobu,ID,-4.9408,122.5276,71.38,92,100,2.59,overcast clouds
2,2,Canchungo,GW,12.0672,-16.0333,78.93,86,100,5.37,light rain
3,3,Studenka,CZ,49.7234,18.0785,72.99,66,0,5.01,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,76.96,80,47,8.01,scattered clouds

In [46]:
# 2. Prompt the user to enter minimum and maximum temperature criteria }
min_temp = float(input('What is the lowest temperature you want?'))
max_temp = float(input('What is the highest temperature you want?'))

In [47]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_city_data_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & (city_data_df['Max Temp']>= min_temp)]
filtered_city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Katobu,ID,-4.9408,122.5276,71.38,92,100,2.59,overcast clouds
2,2,Canchungo,GW,12.0672,-16.0333,78.93,86,100,5.37,light rain
3,3,Studenka,CZ,49.7234,18.0785,72.99,66,0,5.01,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,76.96,80,47,8.01,scattered clouds
5,5,Jiazi,CN,22.8779,116.0670,80.06,86,100,9.31,moderate rain

In [51]:
# 4a. Determine if there are any empty rows.
filtered_city_data_df.isnull().sum()

City ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [52]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_city_data_without_nan_df = filtered_city_data_df.dropna()
filtered_city_data_without_nan_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Katobu,ID,-4.9408,122.5276,71.38,92,100,2.59,overcast clouds
2,2,Canchungo,GW,12.0672,-16.0333,78.93,86,100,5.37,light rain
3,3,Studenka,CZ,49.7234,18.0785,72.99,66,0,5.01,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,76.96,80,47,8.01,scattered clouds
5,5,Jiazi,CN,22.8779,116.0670,80.06,86,100,9.31,moderate rain

In [53]:
filtered_city_data_without_nan_df.isnull().sum()

City ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [54]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_city_data_without_nan_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Katobu,ID,71.38,overcast clouds,-4.9408,122.5276,
2,Canchungo,GW,78.93,light rain,12.0672,-16.0333,
3,Studenka,CZ,72.99,clear sky,49.7234,18.0785,
4,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,
5,Jiazi,CN,80.06,moderate rain,22.8779,116.0670,
6,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,
7,Vanimo,PG,76.32,overcast clouds,-2.6741,141.3028,
8,San-Pedro,CI,74.28,overcast clouds,4.7485,-6.6363,
11,Rikitea,PF,71.06,overcast clouds,-23.1203,-134.9692,
15,Neyshabur,IR,77.54,clear sky,36.2133,58.7958,

In [55]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": 'AIzaSyAnwv2mrf-Y5gx0Fmbf8ZtaNPOitPHTNbM'
}
import time
url='https://maps.googleapis.com/maps/api/place/nearbysearch/json'

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params['location'] = f'{lat}, {lng}'
    # 6e. Make request and retrieve the JSON data from the search. 
    
    try:
        response = requests.get(url=url, params=params).json()
        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_name = response['results'][0]['name']
        
        hotel_df.loc[index, 'Hotel Name'] = hotel_name
    except:
        print('Hotel name not found')
        hotel_df.loc[index, 'Hotel Name'] = np.nan
print('____________________')
print('Hotel search is over')
print('____________________')

Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
Hotel name not found
____________________
Hotel search is over
____________________

In [56]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Katobu,ID,71.38,overcast clouds,-4.9408,122.5276,La Ode Husein
2,Canchungo,GW,78.93,light rain,12.0672,-16.0333,Aparthotel Napalach
3,Studenka,CZ,72.99,clear sky,49.7234,18.0785,Turistická ubytovna Kotvice
4,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Jiazi,CN,80.06,moderate rain,22.8779,116.0670,Hotel Jin Hao
6,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
7,Vanimo,PG,76.32,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
8,San-Pedro,CI,74.28,overcast clouds,4.7485,-6.6363,Hotel Maria
11,Rikitea,PF,71.06,overcast clouds,-23.1203,-134.9692,People ThankYou
15,Neyshabur,IR,77.54,clear sky,36.2133,58.7958,Amiran Hotel & Commercial Complex

In [57]:
hotel_df.isnull().sum()

City                    0
Country                 0
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             27
dtype: int64

In [58]:
hotel_without_nan_df = hotel_df.dropna()
hotel_without_nan_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [59]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_without_nan_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
hotel_without_nan_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Sampang,ID,78.75,broken clouds,-7.1872,113.2394,sekretariat IKA STAIN
11,Rikitea,PF,72.27,broken clouds,-23.1203,-134.9692,People ThankYou
12,Isangel,VU,74.98,clear sky,-19.5500,169.2667,Tanna Lodge
14,Labuhan,ID,77.45,overcast clouds,-6.8844,112.2051,DoubleFAG
24,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [60]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<p><b>Hotel Name</b><br>{Hotel Name}</p>
<p><b>City</b><br>{City}</p>
<p><b>Country</b><br>{Country}</p>
<p><b>Current Weather</b><br>{Current Description} and {Max Temp} °F</p>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_without_nan_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_without_nan_df[["Lat", "Lng"]]

In [61]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))